<!doctype html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo List</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png"
          href="{% static '/images/png-clipart-religious-poster-st-nicholas-artwork-holidays-saint-nicholas.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

    <link rel="stylesheet" href="{% static 'css/footer.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/calendar.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">


</head>
<body>

<div class="container">
    {% block content1 %}

    {% endblock content1 %}
</div>


<div>
    {% block cal %}

    {% endblock cal %}
</div>





<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Our<span>logo</span></h3>


        <p class="footer-company-name">Mirasov&Yakovlev © 2022</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-phone"></i>
            <p>Call us<br>
                Oleg: +7-927-962-27-89<br>
                Bazilevs: +7-961-049-97-56<br></p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p>Email us<br>
                <a href="mailto:helgu76@gmail.com">helgu76@gmail.com.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <a href="{% url 'about-us' %}">About us<br></a>
            <!--            <span>About us</span>-->
            We are friendly, easy-going people who would like to get an excellent mark for this project
        </p>

        <div class="footer-icons">

            <a href="https://www.facebook.com/oleg.mirasov.3/"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/Spidrre"><i class="fab fa-twitter-square"></i></a>

        </div>

    </div>

</footer>


</body>
</html>

